/src/sky
*~
*.o
*.a
*.fits
*.list
*.head
*.spec
.deps/
Makefile
Makefile.in
aclocal.m4
autoconf/
autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
configure
/debian/changelog
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/man/Makefile
/man/Makefile.in
/man/*.1
/stamp-h1
